html, body {
	background-color: #2c3e50;
	color: #ecf0f1;
}
.well {
	background-color: #7f8c8d;
}
.center {
	text-align: center;
	text-align: -webkit-center;
	text-align: -moz-center;	
}
#page-title {
	font-size: 45px;
	margin: 35px auto;
}
#ajax-loader {
	margin-left: 25px;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 20px;
}
.irs-min, .irs-max,
.irs-from, .irs-to, .irs-single {
	display: none !important;
}
.irs-bar {
    height: 8px;
    top: 25px;
    border-top: 1px solid #e74c3c;
    border-bottom: 1px solid #e74c3c;
    background: #e74c3c;
}
.irs-bar-edge {
    height: 8px;
    top: 25px;
    width: 14px;
    border: 1px solid #e74c3c;
    border-right: 0;
    background: #e74c3c;
    border-radius: 16px 0 0 16px;
    -moz-border-radius: 16px 0 0 16px;
}
.irs-grid-text {
    bottom: 5px;
    color: #ecf0f1;
    font-size: 15px;
}